/* :root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
} */

code {
  font-family: "Helvetica",
    monospace;
}

* {
  margin: 0;
  /* padding: 0; */
  /* border: 0; */
  /* outline: 0; */
  font-size: 100%;
  vertical-align: baseline;
}

button {
  padding: 4px 4px;
  border: 4px black;
  border-radius: 8px;
  background: white;
}
