.mission {
    text-align: center;
    padding: 2% 20%;
    width: 60%
}

.mission h2 {
    color: rgb(236, 65, 213);
    padding: 20% 0 0 0;
}

.chartHome {
    margin-top: min(36px, 20%);
    text-align: center;
}

.question-display {
    text-align: left;
    width: min(80%, 600px);
    margin: auto;
    background-color: rgb(246, 240, 240, 0.5);
    padding: 10px 4px;
    box-shadow: rgba(180, 92, 124, 0.5) 0 2px 5px 0;
    border-radius: 8px;
}

.selectors {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}