.mission {
    text-align: center;
    padding: 2% 20%;
    width: 60%
}

.mission h2 {
    color: rgb(236, 65, 213);
    padding: 20% 0 0 0;
}

.chartHome {
    margin-top: min(36px, 20%);
    text-align: center;
}

.questionDisplayAverage {
    text-align: left;
    width: min(80%, 700px);
    margin: auto;
}