.login_header {
    text-align: center;
    padding: 2% 0 2% 0;
}

.login {
    text-align: center;
    padding: 10px 4px;
    background-color: rgb(246, 240, 240, 0.5);
    /* position: absolute; left: 40%; */
    margin-left: 20%;
    border-radius: 8px;
    width: min(60%, 300px);
}

.main {
    display: flex;
    width: 40%;
    width: min(60%, 300px);
    min-height: 400px;
}

