.login_header {
    text-align: center;
    padding: 2% 0 2% 0;
}

.login {
    text-align: center;
    padding: 10px 4px;
    background-color: rgb(246, 240, 240, 0.5);
    width: 20%;
    position: absolute; left: 40%;
    border-radius: 8px;
}

