.profile_header {
    text-align: center;
    padding: 2% 0 2% 0;
    margin-top: min(36px, 20%);
}

.profile_instructions {
    text-align: center;
    padding: 1%;
    margin-top: min(36px, 25%);
    width: min(60%, 300px);
    margin: auto;
}

.profile {
    /* text-align: left; */
    padding: 2%;
    width: min(80%, 300px);
    margin: auto;
}

.updated {
    text-align: center;
    padding: 2%;
    margin-top: min(36px, 25%);
}

.profile_body {
    text-align: center;
}

.profile_card {
    text-align: center;
    padding: 10px 4px;
    background-color: rgb(246, 240, 240, 0.5);
    width: min(80%, 300px);
    margin: auto;
    /* position: absolute; left: 40%; */
    border-radius: 8px;
}
