.signup_header {
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.signup {
    padding: 10px 0px 10px 20px;
    background-color: rgb(246, 240, 240, 0.5);
    margin: auto;
    border-radius: 8px;
    width: min(60%, 200px);
    box-shadow: rgba(180, 92, 124, 0.5) 0 2px 5px 0;
}

.login_instead {
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: auto;
    width: min(60%, 200px);
    margin-top: min(30%, 80px);

}