.mood_header {
    text-align: center;
    padding: 2% 0 2% 0;
    margin-top: min(36px, 20%);
}

.survey {
    text-align: left;
    border-radius: 8px;
    width: min(100%, 400px);
}

.submitted {
    text-align: center;
    padding: 2%;
    margin-top: min(36px, 25%);
}

.loading {
    text-align: center;
}

.main {
    width: min(100%, 250px);
    min-height: 600px;
    margin-top: min(36px, 25%);
}

.button-update-profile {
    background-color: #dc3895;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    line-height: 29px;
    padding: 4px 10px 4px 11px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
    margin-right: 10px;
    box-shadow: rgba(180, 92, 124, 0.5) 0 2px 5px 0;
}