.leave form {
    background-color: rgb(246, 240, 240, 0.5);
    margin: auto;
    border-radius: 8px;
    padding: 10px 4px;
    width: max(40%, 300px);
    box-shadow: rgba(180, 92, 124, 0.5) 0 2px 5px 0;
}

input {
    text-align: left;
    border-radius: 4px;
}