button {
    padding: 4px 4px;
    border: 10px transparent;
    border-radius: 8px;
}

.reset {
    text-align: left;
    padding: 10px 4px 10px 10px;
    background-color: rgb(246, 240, 240, 0.5);
    width: min(80%, 200px);
    margin: auto;
    /* position: absolute; left: 40%; */
    border-radius: 8px;
}

input, select {
    text-align: left;
    border-radius: 4px;
}


