button {
    padding: 4px 4px;
    border: 10px transparent;
    border-radius: 8px;
}

.reset {
    text-align: center;
    padding: 10px 4px 10px 4px;
    background-color: rgb(246, 240, 240, 0.5);
    width: min(80%, 200px);
    margin: auto;
    /* position: absolute; left: 40%; */
    border-radius: 8px;
    box-shadow: rgba(180, 92, 124, 0.5) 0 2px 5px 0;
}

input, select {
    text-align: center;
    border-radius: 4px;
}


