button {
    padding: 4px 4px;
    border: 10px transparent;
    border-radius: 8px;
}

.profile {
    text-align: center;
    padding: 10px 4px;
    background-color: rgb(246, 240, 240, 0.5);
    width: min(80%, 300px);
    /* position: absolute; left: 40%; */
    border-radius: 8px;
}

input, select {
    text-align: left;
    border-radius: 4px;
}


