button {
    padding: 4px 4px;
    border: 10px transparent;
    border-radius: 8px;
}

input {
    text-align: left;
    border-radius: 4px;
}

/* .signup {
    text-align: left;
}

input {
    text-align: left;
}

label.signup {
    text-align: left;
} */
