.survey {
    background-color: rgb(246, 240, 240, 0.5);
    width: min(80%, 620px);
    margin: auto;
    padding: 10px 4px;
    box-shadow: rgba(180, 92, 124, 0.5) 0 2px 5px 0;
}


div.mood_instructions {
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
    border-radius: 4px;
}

input.checked {
    margin-right: 5px;
}